@tailwind base;
@tailwind components;
@tailwind utilities;

/* Запрет выделения текста на всём экране */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Разрешаем выделение только в инпутах и текстовых областях */
input,
textarea {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* Статичные скроллбары */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2D4059;
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2D4059 #FFFFFF;
}