@tailwind base;
@tailwind components;
@tailwind utilities;
/* Статичные скроллбары */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2D4059;
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2D4059 #FFFFFF;
}